<div class="popup-wrap">
    <div class="popup-container">
       <img src="../../../assets/img/popup/Button_Close.png" alt="close-btn" class="close-btn" (click)="close()">
       <div class="popup-header">
           Connect with club
       </div>
       <div class="popup-body">
           <p>Please share your contact number so that we can reach you.</p>
           <form class="login-form">
               <div class="form-group">
                   <div class="phn-login">
                       <!-- <div class="slct-div">
                           <select class="form-control">
                               <option>+244</option>
                               <option>+243</option>
                               <option>+245</option>
                           </select>
                           <img src="../../../assets/img/Login/Dropdown.png">
                       </div> -->
                       <input type="number" class="form-control" [(ngModel)]="this.phNumber" [ngModelOptions]="{ standalone: true }">
                       
                   </div>
                   <span class="error" style="color:red">{{this.error}}</span>
               </div>
               <div class="text-center" style="margin-top: 20px;"><button type="submit" class="green-btn  " (click)="connectSuccess()" >Submit</button></div>
           </form>
       </div>
    </div>
</div>