.game-wrap{
    background-image: url('../../assets/img/Stretchable_BG.png');
}
.inner-game-wrap {
    height: calc(100% - 100px);
    overflow: auto;
}
.login-form{
    max-width: 100%;
    width: 500px;
    margin: 2em auto;
}
select.form-control{
    padding: 10px 0;
}
.login-form .form-group {
    margin-bottom: 2rem;
}
.login-form label {
    display: inline-block;
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}
.login-form .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    color: #041966;
    border: none;
    background: url('../../assets/img/Login/Inputbox.png') 0/100% 100% no-repeat;
}
.login-form .form-control:focus-visible {
    outline: none;
}
.create-club {
    width: 100%;
    margin-top: 1rem;
}
.form-row {
    display: flex;
    margin: 0 -10px;
}

.form-col {
    padding: 0 10px;
    width: 50%;
    position: relative;
}
.phn-login {
    display: flex;
}
.slct-div {
    width: 145px;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
}
.slct-div img {
    position: absolute;
    top: 48%;
    transform: translateY(-52%);
    right: 10px;
    width: 12px;
}
.phn-login select.form-control {
    appearance: none;
    padding-right: 30px;
    cursor: pointer;
    background: url('../../assets/img/selectInput.png') 0/100% 100% no-repeat;
}
select:focus-visible {
    outline: 0px;
}
.login-form textarea.form-control {
    background: url('../../assets/img/textarea.png') 0/100% 100% no-repeat;
}
.club-avatar-upload {
    position: absolute;
    bottom: -10px;
    right: -10px;
    z-index: 2;
}
.club-avatar-upload .radio-custom {
    opacity: 0;
    position: absolute;   
}
.club-avatar-upload .radio-custom, .club-avatar-upload .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}
.club-avatar-upload .radio-custom:focus-visible, .club-avatar-upload .radio-custom-label:focus-visible,
.club-avatar-upload input:focus{
    outline: none;
}
.club-avatar-upload .radio-custom-label {
    position: relative;
}
.club-avatar-upload .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
    background: url('../../assets/img/landingScreen/Radio_Inactive.png') 0/100% 100% no-repeat;
    margin-top: -6px;
    box-sizing: border-box;
}
.club-avatar-upload .radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.club-avatar-upload .radio-custom:checked + .radio-custom-label:before {
    content: "";
    font-family: 'FontAwesome';
    background: url('../../assets/img/landingScreen/Radio_Active.png') 0/100% 100% no-repeat;
}
.custom-file,.custom-file input {
    position: absolute;
    height: 100%;
    cursor: pointer;
}
.custom-file input{
    width: 100%;
    opacity: 0;
}
.custom-file{
    width: calc(100% - 20px);
}
.submit{
    background: url(../../assets/img/Login/Button_Yellow.png) 0/100% 100% no-repeat;
    width: 100%;
    padding: 0.375rem 0.75rem;
    line-height: 2;
    font-size: 20px;
    color: #041966;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-top: 3.5rem;
}
.lang-select{
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    padding: 0.6em 1em 0.6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gender{
    width: 50%;
    display: inline-block;
}
input[type='radio']{
    /* content: url(../../assets/img/landingScreen/Radio_Inactive.png); */
    width: 20px;
    height: 20px;
    border-radius: 20px;
    vertical-align: middle;
    margin-top: 0; 
}

input[type='radio']:after {
    
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: -2px;
    left: -1px;
    position: relative;
    /* background-color: #0060de;  */
    content: '';
    background: url(../../assets/img/Settings/radio_off.png) 0/100% 100% no-repeat;
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    
    content: "";
    /* color: #fec700; */
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: -2px;
    left: -1px;
    position: relative;
    /* background-color: #fec700; */
    font-family: 'FontAwesome';
    background: url(../../assets/img/Settings/radio_on.png) 0/100% 100% no-repeat;
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
.eng-lang{
    position: relative;
    margin-left: 5px;
    top: 2px;
}
.eng-lang span,.eng-lang img,
.oth-lang span,.oth-lang img{
    vertical-align: middle;
}
.eng-lang span,.oth-lang span{
    margin-left: 5%;
}
.eng-lang,.oth-lang{
    white-space: nowrap;
} 
.skip{
    position: absolute;
    right: 5%;
    top: 46%;
    transform: translateY(-50%);
    color: #00cdef;
    text-decoration: underline;
}
.login-form .form-control.bank-predefined-value{
    background: #fff;
    border-radius: 7px;
    box-shadow: 1px 2px 0 #000;
    height: 45px;
    margin-right: 10px;
    width: 95px;
}
.bank-account{
    display: flex;
}
@media screen and (max-width: 767px){
    .inner-game-wrap {
        height: calc(100% - 80px);
    }
    .lang-select {
        font-size: 18px;
        padding: 1em 1em;
    }
    .login-form label,.login-form .form-control{
        font-size: 18px;
    }
    .login-form .form-group{
        margin-bottom: 1rem;
    }
    .submit{
        font-size: 16px;
        margin: 2em 0;
    }
    .club-avatar-upload .radio-custom + .radio-custom-label:before {
        width: 25px;
        height: 25px;
        margin-top: -4px;
        margin-right: 8px;
    }
    .back-btn {
        width: 40px;
    }
    .login-form .form-control.bank-predefined-value {
        border-radius: 5px;
        height: 36px;
        margin-right: 10px;
        width: 75px;
    }
}