<div class="game-wrap">
    <div class="back-header">
        <a (click)="back()"><img src="./../../../assets/img/Button_back.png" alt="back-btn" class="back-btn"></a>
        <h2>Buy Coins</h2>
    </div>
    <div class="inner-game-wrap">
       <div class="store-container">
            <div class="store-content coin">
                <span>100</span>
                <div class="text">$10</div>
             </div> 
             <div class="store-content coin">
                <span>100</span>
                <div class="text">$10</div>
            </div> 
            <div class="store-content coin">
                <span>100</span>
                <div class="text">$10</div>
            </div> 
            <div class="store-content coin">
                <span>100</span>
                <div class="text">$10</div>
            </div> 
            <div class="store-content coin-potli">
               <span>100</span>
               <div class="text">$10</div>
             </div> 
           <div class="store-content coin-box">
               <span>100</span>
               <div class="text">$10</div>
            </div>   
        </div>

    </div>
</div>
