<div class="game-wrap">
    <div class="back-header">
        <h2>Reset Password</h2>

    </div>
    <div class="inner-game-wrap">
        <form class="login-form">
            <div class="form-group">
                <label>New Password</label>
                <input type="number" class="form-control">
            </div>
            <div class="form-group">
                <label>Confirm New Password</label>
                <input type="password" class="form-control">
            </div>
            <button type="submit" class="submit">Next</button>
        </form>
    </div>
</div>
