.game-wrap{
    background-image: url("../../../assets/img/Stretchable_BG.png");
}
.inner-game-wrap{
    padding: 0 20px;
    height: calc(100% - 135px);
    overflow: auto;
    padding-bottom: 20px;
}
.store-header{
    justify-content: space-between;
}
.back-header.store-header h2{
    padding-left: 7.5rem;
}
.img-content{
    background-color: #021f64;
    position: absolute;
    right: 15%;
    top: 25%;
    color: #fff;
    font-size: 16px;
    border: 1px solid #61a0f7;
    border-radius: 10px;
}
.pattern{
    background: url("../../../assets/img/Store/Repeatbale_Pattern.png") repeat-x;
    width: 100%;
    height: 6vh;
}
.coin{
  padding: 0 10px;
}
.user-coin{
    position: relative;
    z-index:4;
    background: url(../../../assets/img/menuScreen/textbox.png) 0/100% 100% no-repeat;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    
    margin-right: 7.5%;
    padding: 10px 28px 10px 10px;
}
.user-coin > div{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.user-coin > div > img,.user-coin > div > span{
    vertical-align: middle;
}
.user-coin > div > img{
    margin-right: 5px;
}
.user-coin > img{
    position: absolute;
    height: 90%;
    right: 2px;
    width: auto;
    top: 50%;
    transform: translateY(-50%);
}
.img-content span{
   padding-right: 16px;
   vertical-align: middle;
}
.img-content img{
    vertical-align: middle;
}
.store-container{
    display: flex;
    flex-wrap: wrap;
    font-size: 24px;
    justify-content: center;
    margin-left: -15px;
}
.store-container img{
    width: 45px;
}
.store-content{
    color: #fff;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    background-image: url("../../../assets/img/Store/Sprite_Coins.png");
    width: 141px;
    height: 191px;
    position: relative;
    margin-left: 15px;
    margin-bottom: 10px;
}
.store-content.coin{
    background-position: 0 0;
}
.store-content.two-coin{
    background-position: -150px 0;
}
.store-content.three-coin{
    background-position: -300px 0;
}
.store-content.four-coin{
    background-position: -450px 0;
}
.store-content.coin-potli{
    background-position: -604px 0;
}
.store-content.coin-box{
    background-position: -755px 0;
}
.store-content span{
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600;
}
.text{
    color: #031aad;
    position: absolute;
    width:100%;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600;
    font-size: 1.1rem;
}
@media screen and (max-width: 767px){
    .back-header.store-header h2{
        padding-left: 5.5rem;
    }
    .img-content .coin{
        width: 40px;
    }
    .img-content .add-btn{
        width: 30px;
    }
    .store-container img{
       width: 40px;
    }
    .coinstxt{
        font-size: 13px;  
    }
}