<div *ngIf="isVisible" class="popup-wrap">
    <div class="popup-container">
        <div class="popup-body text-center">
            <div class="success">
                <svg viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg">
                    <g stroke="currentColor" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                        <path class="tick" d="M6.5 13.5L10 17 l8.808621-8.308621"/>
                    </g>
                </svg>
            </div>
            <p>Contact No shared successfully</p>
            <div class="text-center" style="margin-top: 20px;"><button type="submit" class="green-btn  " (click)="close()">Goto Home</button></div>
        </div>
    </div>
</div>