.game-wrap{
    background-image: url(../../assets/img/Stretchable_BG.png);
    overflow: auto;
}
.inner-game-wrap {
    height: calc(100% - 100px);
}
.profile-header{
    background: url(../../assets/img/Login/Header_Stretchable.png) 0/100% 100% no-repeat;
    height: 20vh;
    width: 100%;
    position: relative;
    text-align: center;
    max-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-header h2{
    font-weight: 600;
    font-size: 35px;
    color: #fff;
    margin: -10px 0 0;
}
.profile-form{
    max-width: 100%;
    width: 500px;
    padding-top: 2em;
    height: 100%;
}
.profile-form .form-group {
    margin-bottom: 2rem;
}
.profile-form label {
    display: inline-block;
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}
.profile-form .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    color: #041966;
    border: none;
    background: url(../../assets/img/Login/Inputbox.png) 0/100% 100% no-repeat;
}
.profile-form .form-control:focus-visible {
    outline: none;
}
.inner-game-wrap h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}
.profile-photos {
    background-color: #021f64;
    border: 2px solid #61a0f7;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    height: 40%;
    min-height: 200px;
    overflow: auto;
    padding: 9px 0 0;
}
.profile-photo-container {
    max-height: 37%;
    max-width: 33.33%;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 8px 13px;
}
.position-relative{
    position: relative;
}
.avtarImg{
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.selected .avtarImg{
   display: block;
  }
  
  .back-btn{
    position: absolute;
    left: 5%;
    top: 46%;
    transform: translateY(-50%);
    width: 50px;
}
.submit{
    background: url(../../assets/img/Login/Button_Yellow.png) 0/100% 100% no-repeat;
    width: 100%;
    padding: 0.375rem 0.75rem;
    line-height: 2;
    font-size: 20px;
    color: #041966;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-top: 3.5rem;
}
@media screen and (max-width: 767px){
    .profile-header h2{
        font-size: 20px;
    }
    .inner-game-wrap{
        padding: 0 20px;
    }
    .back-btn {
        width: 40px;
    }
    .profile-form label,.profile-form .form-control,.inner-game-wrap h2{
        font-size: 18px;
    }
    .submit{
        font-size: 16px;
        margin: 2em 0;
    }
}	