<app-request-coin (onRequest)="onRequestCoin($event)"></app-request-coin>
<app-recharge-account (isRecharge)="onRecharge($event)"></app-recharge-account>

<div class="game-wrap">
    <div class="back-header">
        <a ><img src="./../../../assets/img/Button_back.png" alt="back-btn" class="back-btn" (click)="back()"></a>
        <h2>Agent Dashboard</h2>
    </div>
    <div class="inner-game-wrap">
        <!-- <div class="clubname">Club Name : {{this.clubName}}</div> -->
        <div class="coins-content">
            <div class="coins">
                <div>
                    <img src="./../../../assets/img/coins.png" alt="Coins">
                    <span>Coins:</span>
                </div>
                <span class="text">{{this.coins}} coins / {{(this.coins*this.coinValue).toFixed(2)}} Kz</span>
            </div>
        </div>
        
        <div class="dashboard-btns">
            <button class="green-btn" (click)="reqCoin()">Request for Coins</button>
            <button class="yellow-btn"(click)="recharge()">Recharge Accounts</button>
            <button class="yellow-btn"(click)="payHis()">Payment History</button>
            <button class="blue-btn" (click)="logout()">Logout</button>
        </div>



    </div>
</div>

<app-messagepopup1></app-messagepopup1>