body * {
	box-sizing: border-box;
}

.checkersGamePage {
	position: absolute;
	top: 0;
	left: 0;
	height: 100% !important;
	width: 100% !important;
	margin: 0;
	padding: 0;
	color: #333333;
	font-family: "Lato", Calibri, sans-serif;
	font-size: 16px;
	overflow-y: auto;
	background-image: url(../../assets/Pattern_to_Repeat.png), url(../../assets/BG_1px.png);
	background-size: auto, 100% 100%;
	background-repeat: repeat, no-repeat;
}
.small-text{
	color: #bf2a2a;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 4%;
  }
#invBut {
	background: url(../../assets/img/Login/Button_Yellow.png) 0/100% 100% no-repeat;
	width: 78%;
	padding: 0.375rem 0.75rem;
	line-height: 2;
	font-size: 20px;
	color: #041966;
	font-weight: 600;
	border: none;
	cursor: pointer;
	margin-top: 2em;
	margin: 0;
	position: absolute;
	top: 40%;
	left: 11%;
	text-align: center;
}

#waiting {
	line-height: 2;
	font-size: 20px;
	color: #041966;
	font-weight: 600;
	border: none;
	cursor: pointer;
	margin-top: 2em;
	margin: 0;
	/* position: absolute; */
	top: 40%;
	left: 20%;
	text-align: center;
}

#waiting1 {
	background: url(../../assets/img/Login/Button_Yellow.png) 0/100% 100% no-repeat;
	width: 80%;
	padding: 0.375rem 0.75rem;
	line-height: 2;
	font-size: 20px;
	color: #041966;
	font-weight: 600;
	border: none;
	cursor: pointer;
	margin-top: 2em;
	margin-left: 10%;
}

#avatar1,
#avatar2 {
	width: 100%;
}

.background {
	/* background-image: url(Pattern_to_Repeat.png); */
	width: 100%;
	background-size: 100px;
	background-repeat: repeat;
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 100%;
}

html h1,
body h1 {
	margin-top: 10px;
}

html h2,
body h2 {
	font-size: 1.3em;
}

html h3,
body h3 {
	font-size: 1.1em;
}

html a,
body a {
	text-decoration: none;
	color: #333333;
	font-weight: 700;
}

html a:hover,
body a:hover {
	text-decoration: underline;
}

html hr,
body hr {
	border: 0;
	height: 1px;
	background-color: #333;
	background-image: linear-gradient(to right, #333333, #ccc);
}

html .clearfix,
body .clearfix {
	clear: both;
}

.score {
	background-image: url('./../../assets/Coins.png');

}

.king {
	display: none;
}

.stats .playerTimer {
	margin-bottom: 2%;
}

.checkersGamePage {
	justify-content: flex-end;
	position: relative;
	overflow: hidden;
}

.stats2 .playerTimer {
	margin-top: 2%;
}

.player2,
.player1 {
	border-radius: 50%;
	width: 100%;
	vertical-align: middle;
}

.setting {
	height: 75%;
	width: auto;
	cursor: pointer;
}

.centered {
	font-size: 2.5vmin;
	color: white;
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 15%;
	font-weight: bold;
}

.player1name,
.player2name {
	font-size: 4vmin;
	font-weight: bold;
	color: white;
	text-align: center;
}

div.column {
	position: relative;
	overflow: auto;
	height: 100%;
	min-height: 100%;
	width: 50%;
}


div.info {
	margin: 13vmin auto 0;
	padding: 0px;
}

div.stats2.checkersstats,
div.stats.checkersstats {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 2% 5%;
}

div.stats2.checkersstats .wrapper {
	display: flex;
}

div.stats.checkersstats .wrapper {
	display: flex;
}

div.stats.checkersstats #player1,
div.stats.checkersstats #player2 {
	text-align: center;
	width: 50%;
	float: left;
	box-sizing: border-box;
	padding: 0 15px 20px;
}

div.stats.checkersstats #player1 {
	background-color: #026315;
	border-top-left-radius: 3px;
	color: #232621;
}

div.stats.checkersstats #player2 {
	background-color: #232621;
	border-top-right-radius: 3px;
	color: #026315;
}

div.stats.checkersstats #player1 .capturedPiece {
	width: 2.4vmin;
	height: 2.4vmin;
	background-color: #232621;
	background-size: 65%;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 6vmin;
	display: inline-block;
	box-sizing: border-box;
	transition: all 0.2s linear;
	margin: 5px;
}

div.stats.checkersstats #player2 .capturedPiece {
	width: 2.4vmin;
	height: 2.4vmin;
	background-color: #026315;
	background-size: 65%;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 6vmin;
	display: inline-block;
	box-sizing: border-box;
	transition: all 0.2s linear;
	margin: 5px;
}

div.stats.checkersstats div.turn {
	height: 10px;
	width: 100%;
	background: linear-gradient(to right, #BEEE62 50%, transparent 50%);
	border-radius: 0 0 3px 3px;
}

div.stats.checkersstats span#winner {
	display: block;
	padding: 10px 0 0;
	text-align: center;
}

div.stats.checkersstats button#cleargame {
	display: block;
	border: 0;
	color: #F1F1FF;
	border-radius: 5px;
	cursor: pointer;
	margin: 20px auto 10px;
	padding: 10px;
	background-color: #16A8C7;
	box-shadow: 1px 1px 3px #232621;
	transition: background-color 0.15s linear;
}

div.stats.checkersstats button#cleargame:hover {
	background-color: #0c5a6b;
}

.toppanel {
	padding: 2% 5%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 8vmax;
}

.checkers-exit-btn {
	/* position: absolute;
    left: 5%;
    top: 46%;
    transform: translateY(-50%);
    width: 50px; */
	width: auto;
	cursor: pointer;
	height: 80%;
}

.checkers-exit-btn-searchplayer {
	height: 47%;
	position: absolute;
	left: 5%;
	top: 46%;
	transform: translateY(-50%);
}

.rewards {
	position: relative;
	background: url(./../../assets/Panel_Rewards.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 6vmin;
	width: 20vmin;
	max-height: 100%;
}

.coins {
	position: absolute;
	height: 50%;
	top: 50%;
	transform: translateY(-50%);
	left: 5%;
}

.brand {
	border-radius: 10%;
	margin: 0 auto;
	display: block;
}

.carousel-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 15vw;
	z-index: 10001;
}

div#board {
	width: 96vmin;
	height: 96vmin;
	border-radius: 1.3ex;
	overflow: hidden;
	background: url(./../../assets/Frame.png);
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	margin: 0 auto;
	max-width: 910px;
	max-height: 910px;
}

@keyframes blinker {
	from {
		opacity: 1.0;
	}

	to {
		opacity: 0.1;
	}
}

@-webkit-keyframes blinker {
	from {
		opacity: 1.0;
	}

	to {
		opacity: 0.1;
	}
}

#blink {
	animation-name: blinker;
	-webkit-animation-name: blinker;
	animation-duration: 0.7s;
	-webkit-animation-duration: 0.7s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
	animation-direction: alternate;
	-webkit-animation-direction: alternate;
}


div#board .tile {
	width: 12vmin;
	height: 12vmin;
	position: absolute;
	background-color: #840909;
}

div#board .player1pieces .piece {
	position: absolute;
	width: 10vmin;
	height: 10vmin;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 6vmin;
	display: inline-block;
	box-sizing: border-box;
	transition: all 0.2s linear;
	margin-top: 1vmin;
	margin-left: 1vmin;
	cursor: pointer;
	background-image: url('./../../assets/Puck_Black.png');
}

div#board .player1pieces .piece.selected {
	box-shadow: 0 0 10px 5px #16A8C7;
}

div#board .player2pieces .piece {
	position: absolute;
	width: 10vmin;
	height: 10vmin;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 6vmin;
	display: inline-block;
	box-sizing: border-box;
	transition: all 0.2s linear;
	margin-top: 1vmin;
	margin-left: 1vmin;
	cursor: pointer;
	background-image: url('./../../assets/Puck_yellow.png');
}

div#board .player2pieces .piece.selected {
	box-shadow: 0 0 10px 5px #16A8C7;
}

.redBoxInviteFriends {
	background-color: #026315;
	border-radius: 10px;
	margin-top: 1rem;
}

.redBoxInviteFriends-header {
	text-align: center;
	padding: 10px 0;
	background: url(../../assets/img1/panel_Header.png) 0/100% 100% no-repeat;
	color: #026315;
	font-size: 24px;
	font-weight: bold;
	border-radius: 10px 10px 0 0;
}

.redBoxInviteFriends-body {
	font-size: 15px;
	font-weight: 500;
	color: #fff;
	padding: 0.6em 1em 0.6em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 2px solid #ffe01f;
	border-top: 0;
	border-radius: 0 0 10px 10px;
}

.betInviteFriends-box {
	background: url(../../assets/img1/randomPlay/textbox.png) 0/100% 100% no-repeat;
	width: 100%;
	font-weight: 500;
	padding: 10px;
	margin: 0 10px;
}

.betInviteFriends-box>div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	white-space: nowrap;
}

.betInviteFriends-box>div+div {
	margin-top: 8px;
}

.betInviteFriends-box>div>span {
	color: #ffDC00;
}

.select-betsInviteFriends img,
.betInviteFriends-box>div>div>span {
	vertical-align: middle;
}

.betInviteFriends-box>div>div>img {
	margin-right: 10px;
}

.betInviteFriends-box>div>div {
	min-width: 70px;
}

.green-btnInviteFriends img {
	position: absolute;
	left: 35px;
	top: 45%;
	transform: translateY(-55%);
	height: 55%;
}

img {
	max-width: 100%;
	max-height: 100%;
}

.game-wrapInviteFriends {
	max-width: 1200px;
	background-image: url(./../../assets/img1/Repeatable_Bg.png), url(./../../assets/BG_1px.png);
	background-size: auto, 100% 100%;
	background-repeat: repeat, no-repeat;
	height: 100%;
	margin: auto;
	position: relative;
}

.inner-game-wrapInviteFriends {
	max-width: 500px;
	height: 100%;
	margin: auto;
	padding: 0 50px;
}

.back-headerInviteFriends {
	background: url(./../../assets/Checkers_Home/header.png) 0/100% 100% no-repeat;
	height: 20vh;
	width: 100%;
	position: relative;
	text-align: center;
	max-height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.back-headerInviteFriends h2 {
	font-weight: 600;
	font-size: 31px;
	color: #ffDC00;
	margin: -10px 0 0;
}

.back-btnInviteFriends {
	position: absolute;
	left: 5%;
	top: 46%;
	transform: translateY(-50%);
	width: 50px;
}

.green-btnInviteFriends,
.yellow-btnInviteFriends {
	width: 100%;
	padding: 0.375rem 0.75rem 0.98rem;
	line-height: 2;
	font-size: 24px;
	font-weight: 700;
	border: none;
	cursor: pointer;
	margin-top: 2rem;
	position: relative;
}

.green-btnInviteFriends {
	background: url(./../../assets/img1/button_green_bg.png) 0/100% 100% no-repeat;
	color: #fff;
}

.yellow-btnInviteFriends {
	background: url(./../../assets/img1/Button_Yellow.png) 0/100% 100% no-repeat;
	color: #026315;
}

.text-centerInviteFriends {
	text-align: center;
}





.inner-game-wrap-search-player {
	height: calc(100% - 120px);
	overflow-y: auto;
}

.bet-box-search-player {
	background: url(../../assets/Checkers_Home/textboxChecker.png) 0/100% 100% no-repeat;
	width: 100%;
	font-weight: 500;
	padding: 20px;
	color: #fff;
	font-size: 24px;
	margin-top: 1.5rem;
}

.bet-box-search-player>div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	white-space: nowrap;
}

.bet-box-search-player>div+div {
	margin-top: 8px;
}

.bet-box-search-player>div>span {
	color: #ffDC00;
}

.select-bets-search-player img,
.bet-box-search-player>div>div>span {
	vertical-align: middle;
}

.bet-box-search-player>div>div>img {
	margin-right: 10px;
}

.bet-box-search-player>div>div {
	min-width: 70px;
}

.bet-box-search-player>div>div>img,
.bet-box-search-player>div>div>span {
	vertical-align: middle;
}

.btn-wrap-search-player {
	display: flex;
	margin-top: 15px;
}

.btn-wrap-search-player button:first-child {
	margin-right: 15px;
}

.btn-wrap-search-player button {
	margin: 0;
}

.tournament-date-search-player {
	margin-top: 1rem;
}

.search-player-search-player {
	height: calc(100% - 132px);
	text-align: center;
	color: #fff;
	font-size: 2vmax;
	font-weight: 600;
	padding: 10% 0 0;
	overflow-x: hidden;
}

.carousel-cells .carousel-cell img {
	width: 910px !important;
	height: auto !important;
	object-fit: initial !important;
}


.opponents-search-player {
	display: flex;
	margin: 0 -10px;
	justify-content: center;
}

.opponents-search-player>div {
	padding: 0 10px;
}

.avatar-box-search-player>div {
	margin-top: 5px;
}

.avatar-box-search-player img {
	width: 10vh;
}

.vs-img-search-player img {
	width: 17vh;
}

.vs-img-search-player {
	animation: zoom-in-zoom-out 3s ease infinite;
}

@keyframes zoom-in-zoom-out {
	0% {
		transform: scale(1, 1);
	}

	50% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1, 1);
	}
}

.game-wrap-search-player {
	max-width: initial;
	background-image: url(../../assets/img1/Repeatable_Bg.png), url(../../assets/BG_1px.png);
	background-size: auto, 100% 100%;
	background-repeat: repeat, no-repeat;
	height: 100%;
	margin: auto;
	position: relative;
}

.inner-game-wrap-search-player {
	max-width: 500px;
	height: 100%;
	margin: auto;
	padding: 0 50px;
}

.back-header-search-player {
	background: url(../../assets/Checkers_Home/header.png) 0/100% 100% no-repeat;
	height: 20vh;
	width: 100%;
	position: relative;
	text-align: center;
	max-height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.back-header-search-player h2 {
	font-weight: 600;
	font-size: 31px;
	color: #ffDC00;
	margin: -10px 0 0;
	padding-left: 8%;
}

.back-btn-search-player {
	position: absolute;
	left: 5%;
	top: 46%;
	transform: translateY(-50%);
	width: 50px;
}

.green-btn-search-player,
.yellow-btn-search-player {
	width: 100%;
	padding: 0.375rem 0.75rem 0.98rem;
	line-height: 2;
	font-size: 24px;
	font-weight: 700;
	border: none;
	cursor: pointer;
	margin-top: 2rem;
	position: relative;
}

.green-btn-search-player {
	background: url(../../assets/img1/button_green_bg.png) 0/100% 100% no-repeat;
	color: #fff;
}

.yellow-btn-search-player {
	background: url(../../assets/img1/Button_Yellow.png) 0/100% 100% no-repeat;
	color: #026315;
}

.text-center-search-player {
	text-align: center;
}

.playerTimer {
	position: relative;
	width: 15vmin;
	margin: auto;

}

.ludoTimer {
	border-radius: 50%;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.75;
	display: none;
}

.innerCheckersGamePage {
	transform: translateY(-28%) scale(0.45);
}



.carousel-cells .carousel-cell {

	text-align: center;
}


@media screen and (max-width: 1024px) {
	.innerCheckersGamePage {
		transform: translateY(-16%) scale(0.7);
	}

	
}




@media screen and (max-width: 767px) {
	.innerCheckersGamePage {
		transform: translateY(-8%) scale(0.8);
	}

	.back-headerInviteFriends {
		max-height: 100px;
	}

	.back-headerInviteFriends h2 {
		font-size: 20px;
	}

	.back-btnInviteFriends {
		width: 40px;
	}

	.inner-game-wrapInviteFriends {
		padding: 0 25px;
	}

	.green-btnInviteFriends,
	.yellow-btn {
		font-size: 16px;
		padding: 0.375rem 0.75rem 0.67rem;
	}

	.inner-game-wrapInviteFriends {
		padding: 0 20px;
	}

	.redBoxInviteFriends-body {
		font-size: 12px;
		padding: 1em 1em;
	}

	.redBoxInviteFriends-header {
		font-size: 18px;
	}

	.back-header-search-player {
		max-height: 100px;
	}

	.back-header-search-player h2 {
		font-size: 20px;
	}

	.back-btn-search-player {
		width: 40px;
	}

	.inner-game-wrap-search-player {
		padding: 0 25px;
	}

	.green-btn-search-player,
	.yellow-btn-search-player {
		font-size: 16px;
		padding: 0.375rem 0.75rem 0.67rem;
	}

	.bet-box-search-player {
		font-size: 16px;
	}
}

@media screen and (max-width: 565px) {
	.innerCheckersGamePage {
		transform: translateY(-5%) scale(0.9);
	}

}

@media only screen and (min-device-width: 540px) and (max-device-height: 720px){
	.innerCheckersGamePage {
		transform: translateY(-15%) scale(0.67);
	}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 1) {}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {}