<div class="game-wrap" >
    <div class="back-header">
        <a (click)="back()"><img src="../../assets/img/Login/Button_Back.png" alt="back-btn" class="back-btn"></a>
        <h2>{{this.langModel.componentLang.normalLogin.email[this.langModel.lang]}}</h2>

    </div>
    <div class="inner-game-wrap">
        <form class="login-form">
            <div class="form-group">
                <label>{{this.langModel.componentLang.normalLogin.enterEmail[this.langModel.lang]}}</label>
                <input type="email" class="form-control" [(ngModel)] = "this.email" [ngModelOptions]="{standalone: true}" />
            </div>
            <div class="form-group">
                <label>{{this.langModel.componentLang.normalLogin.pwd[this.langModel.lang]}}</label>
                <input type="password" class="form-control" [(ngModel)] = "this.password" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="frgt-pswd"><a (click)="reset()">{{this.langModel.componentLang.normalLogin.forgotPwd[this.langModel.lang]}}</a></div>
            <button type="submit" class="submit" (click)="validateDetails()">{{this.langModel.componentLang.normalLogin.submit[this.langModel.lang]}}</button>
        </form>
    </div>
</div>
<app-messagepopup (isClaimed)="onClaim($event)"></app-messagepopup>
<app-messagepopup1></app-messagepopup1>