<div class="game-wrap">
    <div class="back-header">
        <a (click)="back()"><img src="../../../assets/img/RedeemMoney/Button_back.png" alt="back-btn" class="back-btn"></a>
        <h2>Redeem Money</h2>
    </div>
    <div class="inner-game-wrap">
        <div class="balance-content">
            <div class="balance">
                <div>
                    <img src="../../../assets/img/RedeemMoney/wallet.png" alt="wallet">
                    <span>Balance:</span>
                </div>
                <div class="text">100</div>
            </div>
        </div>  
        <form class="withdraw-form">
            <div class="form-group">
                <label>Withdraw Amount</label>
                <input type="number" class="form-control">
            </div>
             <h3>RECEIVE PAYMENT BY</h3>
            <button type="submit" class="submit">Bank Account Transfer</button>
        </form>
        
    </div>
</div>
