.redBox{
    background-color: #850808;
    border-radius: 10px;
    margin-top: 1rem;
}
.redBox-header{
    text-align: center;
    padding: 10px 0;
    background: url(./../../../assets/img1/panel_Header.png) 0/100% 100% no-repeat;
    color: #9a0e0e;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
    text-transform: uppercase;
}
.redBox-body{
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    padding: 0.6em 1em 0.6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #ffe01f;
    border-top: 0;
    border-radius: 0 0 10px 10px;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    color: #000;
    border: none;
    background: url(./../../../assets/img1/Inputbox.png) 0/100% 100% no-repeat;
}
.form-control:focus-visible {
    outline: none;
}
.green-btn {
    width: 70%;
    margin: 1rem auto 0;
    display: block;
}
.ortxt{
    font-size: 35px;
    font-weight: 700;
    color: #fddc01;
    text-align: center;
    margin-top: 2rem;
}

.game-wrap{
	max-width: initial;
	background-image: url(./../../../assets/img1/Repeatable_Bg.png),url(./../../../assets/img1/Stretchable_BG.png);
	background-size: auto,100% 100%;
	background-repeat: repeat,no-repeat;
	height: 100%;
	margin: auto;
	position: relative;
}
.inner-game-wrap{
	max-width: 500px;
	height: 100%;
	margin: auto;
}

.back-header{
	background: url(./../../../assets/img1/Header_Stretchable.png) 0/100% 100% no-repeat;
    height: 20vh;
    width: 100%;
    position: relative;
    text-align: center;
    max-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.back-header h2{
	font-weight: 600;
	font-size: 31px;
	color: #ffDC00;
	margin: -10px 0 0;
}
.back-btn{
	position: absolute;
    left: 5%;
    top: 46%;
    transform: translateY(-50%);
    width: 50px;
}
.green-btn,.yellow-btn{
	width: 100%;
	padding: 0.375rem 0.75rem 0.98rem;
	line-height: 2;
	font-size: 24px;
	font-weight: 700;
	border: none;
	cursor: pointer;
	margin-top: 2rem;
	position: relative;
}
.green-btn{
	background: url(./../../../assets/img1/button_green_bg.png) 0/100% 100% no-repeat;
	color: #fff;
}
.yellow-btn{
	background: url(./../../../assets/img1/Button_Yellow.png) 0/100% 100% no-repeat;
	color: #9a0e0e;
}
.text-center{
	text-align: center;
}
@media screen and (max-width: 767px){
	.back-header{
		max-height: 100px;
	}
	.back-header h2{
		font-size: 20px;
	}
	.back-btn {
	    width: 40px;
	}

	.green-btn,.yellow-btn{
		font-size: 16px;
		padding: 0.375rem 0.75rem 0.67rem;
	}
    .redBox-body {
        font-size: 18px;
        padding: 1em 1em;
    }
    .redBox-header{
        font-size: 18px;
    }
}
