
.game-wrap{
	max-width: 1200px;
	/* background-image: url(../../assets/img1/Repeatable_Bg.png),url(../../assets/img1/Stretchable_BG.png); */
	background-size: auto,100% 100%;
	background-repeat: repeat,no-repeat;
	height: 100%;
	margin: auto;
	position: relative;
}
.inner-game-wrap{
	max-width: 650px;
    height: calc(100% - 120px);
    overflow-y: auto;
	margin: auto;
	padding: 0 50px;
}
.back-header{
	background: url(../../assets/img1/Header_Stretchable.png) 0/100% 100% no-repeat;
}
.back-header h2{
	color: #ffDC00;
}
.tournament-wrap {
    font-weight: 500;
    color: #fff;
}

.bet-box {
    background: #660606;
    font-weight: 500;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}
.tournament-box .bet-box {
    width: 33.33%;
}
.bet-box > div {
}
.bet-box > div+div {
    margin-top: 8px;
}
.bet-box > div > span {
    color: #ffDC00;
}
.select-bets img,
.bet-box > div > div > span{
    vertical-align: middle;
}
.bet-box > div > div > img{
    margin-right: 10px;
}
.bet-box > div > div {
    margin: 8px 0 0;
}
.bet-box > div > div > img,.bet-box > div > div > span {
    vertical-align: middle;
}

.tournament-box {
    display: flex;
    width: 100%;
}

.bet-box:nth-child(2) {
    margin: 0 10px;
}

.full-red-box {
    background: #660606;
    border: 2px solid #a42323;
    width: 100%;
    border-radius: 5px;
    font-weight: 500;
    padding: 15px 10px;
    text-align: center;
    margin: 1rem 0;
    color: #fff;
}
.btn-wrap {
    display: flex;
    margin-top: 15px;
}

.btn-wrap button:first-child {
    margin-right: 15px;
}

.btn-wrap button {
    margin: 0;
}
.tournament-date {
    margin-top: 1rem;
}

.tournament-date table {
    width: 100%;
    border-collapse: collapse;
}
.tournament-date td,.tournament-date tr,.tournament-date table{
    border: none;
}
.tournament-date td {
    padding: 5px 0;
}
.tournament-date td:first-child {
    color: #ffDC00;
}
.back-btn{
    position: absolute;
    left: 5%;
    top: 46%;
    transform: translateY(-50%);
    width: 50px;
}
.green-btn,.yellow-btn{
	width: 100%;
	padding: 0.375rem 0.75rem 0.98rem;
	line-height: 2;
	font-size: 24px;
	font-weight: 700;
	border: none;
	cursor: pointer;
	margin-top: 2rem;
	position: relative;
}
.green-btn{
	background: url(../../assets/img1/button_green_bg.png) 0/100% 100% no-repeat;
	color: #fff;
}
.yellow-btn{
	background: url(../../assets/img1/Button_Yellow.png) 0/100% 100% no-repeat;
	color: #9a0e0e;
}
@media screen and (max-width: 767px){
    
    .inner-game-wrap{
        padding: 0 20px;
    }
    .bet-box {
        font-size: 14px;
    }
    .green-btn,.yellow-btn{
		font-size: 14px;
		padding: 0.375rem 0.75rem 0.67rem;
	}
}