<div class="game-wrap">
    <div class="back-header">
        <a (click)="back()"><img src="../../assets/img/Login/Button_Back.png" alt="back-btn" class="back-btn"></a>
        <h2>{{this.langModel.componentLang.forgotPwd.heading[this.langModel.lang]}}</h2>

    </div>
    <div class="inner-game-wrap">
        <p class="msg-txt">{{this.langModel.componentLang.forgotPwd.subHeadingemail[this.langModel.lang]}} </p>
        <form class="login-form">
            <!-- <div class="lang-select">
                <div class="eng-lang">
                    <img src="../../assets/img/landingScreen/Radio_Active.png">
                    <span>English</span>
                </div>
                <div class="oth-lang">
                    <img src="../../assets/img/landingScreen/Radio_Inactive.png">
                    <span>Other</span>
                </div>
            </div> -->
            <!-- <div class="lang-select">
                <div class="eng-lang">
                    <input id="radio-1" class="radio-custom" name="radio-group" type="radio" checked>
                    <label for="radio-1" class="radio-custom-label">{{this.langModel.componentLang.forgotPwd.portuguese[this.langModel.lang]}}</label>
                </div>
                <div class="oth-lang">
                    <input id="radio-2" class="radio-custom"name="radio-group" type="radio">
                    <label for="radio-2" class="radio-custom-label">{{this.langModel.componentLang.forgotPwd.english[this.langModel.lang]}}</label>
                </div>
            </div> -->
            <div class="form-group">
                <label>{{this.langModel.componentLang.forgotPwd.enterEmail[this.langModel.lang]}}</label>
                <input type="email" class="form-control" [(ngModel)] = "this.email" [ngModelOptions]="{standalone: true}">
            </div>
            <button type="button" (click)="validateDetails()" class="submit">{{this.langModel.componentLang.forgotPwd.next[this.langModel.lang]}}</button>
        </form>
    </div>
</div>

<app-messagepopup (isClaimed)="onClaim($event)"></app-messagepopup>