<div class="game-wrap">
    <div class="back-header">
        <h2>{{this.langModel.componentLang.setPwd.heading[this.langModel.lang]}}</h2>

    </div>
    <div class="inner-game-wrap">
        <!-- <form class="login-form"> -->
            <div class="login-form">
            <div class="form-group">
                <label>{{this.langModel.componentLang.setPwd.pwd[this.langModel.lang]}}</label>
                <input type="password" class="form-control" [(ngModel)] = "this.password" />
            </div>
            <div class="form-group">
                <label>{{this.langModel.componentLang.setPwd.confirmPwd[this.langModel.lang]}}</label>
                <input type="password" class="form-control" [(ngModel)] = "this.confirmPassword" />
            </div>
            <button type="submit" class="submit" (click)="validatepassword()">{{this.langModel.componentLang.setPwd.next[this.langModel.lang]}}</button>
        </div>
            <!-- </form> -->
    </div>
</div>
<app-messagepopup (isClaimed)="onClaim($event)"></app-messagepopup>
