
.game-wrap{
	max-width: 1200px;
	/* background-image: url(../../assets/img1/Repeatable_Bg.png),url(../../assets/img1/Stretchable_BG.png); */
	background-size: auto,100% 100%;
	background-repeat: repeat,no-repeat;
	height: 100%;
	margin: auto;
	position: relative;
    color: #fff;
}
.inner-game-wrap{
	max-width: 500px;
	height: calc(100% - 135px);
    overflow: auto;
	margin: auto;
	padding: 0 20px;
}
.inner-game-wrap h2{
    text-align: center;
    text-decoration: underline;
    font-size: 24px;
}
.inner-game-wrap p,.inner-game-wrap ul li{
    color: #fff;
    text-align: justify;
    line-height: 1.4;
    font-size:18px;
    margin: 15px 0;
}
.inner-game-wrap ul {
    padding-left: 20px;
}
.inner-game-wrap ul li{
    line-height: 20px;
}
.back-header{
	background: url(../../assets/img/Login/Header_Stretchable.png) 0/100% 100% no-repeat;
    height: 20vh;
    width: 100%;
    position: relative;
    text-align: center;
    max-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.back-header h2{
	font-weight: 600;
	font-size: 31px;
	color: #fff;
	margin: -10px 0 0;
}
.back-btn{
	position: absolute;
    left: 5%;
    top: 46%;
    transform: translateY(-50%);
    width: 50px;
}

.heading{
    color: #ffDC00;
    font-size: 24px;
    margin-top: 2%;
}
.tutorialText{
    color: white;
    font-size: 20px;
    margin-top: 3%;
	letter-spacing: 0.9px;
    font-family: sans-serif;
	overflow-y:scroll;
	height:75%;
}

@media screen and (max-width: 767px){
    
    .back-header{
		max-height: 80px;
	}
	.back-header h2{
		font-size: 20px;
	}
    .inner-game-wrap h2{
        font-size: 18px;
    }
    .inner-game-wrap p,.inner-game-wrap ul li{
        font-size: 15px;
        margin: 10px 0;
    }
	.back-btn {
	    width: 40px;
	}
	.inner-game-wrap{
        height: calc(100% - 80px);
	}
	
}