<div class="game-wrap">
    <div class="back-header">
        <a (click)="back()">
            <img src="../../assets/img/Button_back.png" alt="back-btn"
                class="back-btn">
        </a>
        <h2 *ngIf="this.langModel.lang == 'pt'">TERMOS e CONDIÇÕES</h2>
        <h2 *ngIf="this.langModel.lang == 'en'">Terms and conditions</h2>
    </div>
    <div *ngIf="this.langModel.lang == 'pt'" class="inner-game-wrap">
        <p>Ao utilizar a nossa plataforma, o utilizador concorda e aceita os nossos termos e condições de
            uso bem como a politica de privacidade.</p>
        <h2>CONDIÇÕES DE USO</h2>
        <p>Para a devida utilização da nossa plataforma, é obrigatório que o utilizador cumpra com o
            seguinte:</p>
        <ul>
            <li> 18 ou maior de 18 anos de idade.</li>
            <li> Não atuar em nome de outrem.</li>
            <li> Fornecer dados verídicos e actuais no seu registro, e actulizar sempre que necessário.</li>
            <li> Não ter restrição alguma para a utilização dos serviços afins.</li>
            <li> Residir em um endereço válido e localizável.</li>
            <li> Não apresentar dados bancários internacionais.</li>
            <li> Não é selecionado para receber novas ofertas de conta caso já seja nosso cliente.</li>
            <li> Não se interditou a si próprio, e não foi interditado por qualquer terceiro, a realizar
                jogos de azar.</li>
            <li> Quando abrir a sua conta, lhe será solicitado que faculte dados pessoais, que incluem
                o seu nome e a sua data de nascimento bem como informações de contacto e o seu
                endereço de e-mail.</li>
            <li> Não é da nossa responsabilidade reembolsar o utilizador caso este perca um jogo ou aposta
                devido a sua falha de ligação, tal como desligar o seu dispositivo inesperadamente ou perder
                a sua conexão a internet.</li>
            <li> Desencorajamos fortemente o contacto com membros da comunidade fora do nosso serviço
                e não assume qualquer responsabilidade por qualquer resultado caso decida fazê-lo.</li>
            <li> Não são permitidas contas duplicadas e múltiplas; pode utilizar a opção de senha esquecida
                se não se lembrar dos seus dados de login.</li>
            <li> Por favor, respeite a privacidade dos nossos colaboradores ao não tentar adicioná-los às
                suas redes profissionais ou sociais. O pessoal não está autorizado a partilhar qualquer
            informação pessoal, como endereços de e-mail ou números de telefone consigo.</li>
            <li> A Mô Jogos reserva-se o direito de alterar os termos e condições, publicando estas
                alterações nesta secção. A sua utilização contínua do site após as alterações constitui a sua
                aceitação de novos termos e condições.</li>
        </ul>

        <p>É da sua responsabilidade assegurar que a sua Conta connosco dispõe de informações
            pessoais/financeiras correctas. Ao enviar-nos os dados para pagamento, garante que tem o direito
            de efectuar a transacção em causa ou de fazer a aposta em causa com os dados para pagamento
            facultados. Se não recebermos a autorização de pagamento ou se o pagamento não for válido, não
            poderá ser processada de outra forma ou se qualquer autorização for posteriormente cancelada
            poderemos recusar a sua transacção ou aposta e/ou cancelar ou suspender de imediato a sua Conta.
        </p>
        <p>Só pode abrir uma Conta connosco, que poderá ser usada por si para os fins dos Serviços. Reservamonos o
            direito de encerrar quaisquer Contas duplicadas e de cancelar qualquer aposta ou transacção
            em Contas duplicadas. Também nos reservamos o direito de suspender ou encerrar qualquer Conta
            e cancelar qualquer aposta ou transacção associada quando o titular da Conta e o proprietário do
            instrumento de financiamento não for o mesmo.
        </p>
        <h2>SEGURANÇA DA CONTA</h2>
        <p>Se escolher, ou tiver uma palavra-passe, ou qualquer outro elemento de informação como parte dos
            nossos procedimentos de segurança, terá de tratar essas informações como confidenciais, e não
            poderá divulgá-las a terceiros.</p>
        <p>É da sua responsabilidade manter a confidencialidade da sua palava-passe e é plenamente
            responsável por todas as actividades realizadas com o seu nome de utilizador e palavra-passe.
            Qualquer nome de identificação de utilizador e palavra-passe que escolha ou faculte para aceder aos
            Serviços deverá ser apenas para seu uso pessoal e não é transferível. Recomendamos que desactive
            qualquer memória automática de palavra-passe no seu navegador antes de utilizar o Site. Isso
            ajudará a reduzir o risco de uso não autorizado da sua Conta.</p>

        <p>Concorda em:</p>
        <ul>
            <li>Notificar-nos de imediato em caso de uso não autorizado do seu nome de utilizador e/ou
                palavra-passe, ou de qualquer outra quebra de segurança;</li>
            <li>Certificar-se de que sai da sua Conta no final de cada sessão. Não nos podemos
                responsabilizar e não seremos responsáveis por qualquer perda ou dano resultante do
                seu incumprimento dos requisitos desta cláusula.</li>
        </ul>

        <p>Se não se lembrar ou se tiver perdido a sua palavra-passe ou os dados da sua conta contacte-nos de
            imediato, a fim de recuperarmos a sua conta, ou suspender caso necessário. Temos o direito de
            desactivar, suspender ou restringir o seu nome de identificação de utilizador ou palavra-passe, quer
            tenha sido escolhido por si ou atribuído por nós, a qualquer momento, a nosso critério, inclusive se,
            em nossa opinião, não tiver cumprido qualquer das disposições do presente acordo.
        </p>

        <p>Não pode:</p>

        <ul>
            <li>Introduzir, seleccionar ou usar um nome, endereço ou dados de Conta falsos ou um
                endereço de e-mail detido ou controlado por outra pessoa com a intenção de se fazer
                passar por essa pessoa, ou Usar um nome ou tais dados sem a devida autorização.
            </li>
            <li>Não aceitamos qualquer responsabilidade resultante de qualquer uso não autorizado
                do nosso Site e/ou Serviços que seja fraudulento ou de outra natureza. Reservamo-nos
                o direito de, a nosso exclusivo critério, recusar o registo, suspender ou cancelar um
                nome de identificação de utilizador sem aviso prévio.
            </li>
        </ul>

        <h2>RISCO</h2>
        <p>Concorda e confirma que está plenamente ciente de que existe o risco de perder dinheiro em jogos
            de apostas através do Site e/ou Serviços e de que é inteiramente responsável por qualquer perda.
        </p>
        <h2>OS SEUS DADOS PESSOAIS</h2>

        <p>Tratamos as informações a seu respeito de acordo com a nossa Política de Privacidade e de Cookies.</p>
        <p>Temos o direito de partilhar as informações que detemos a seu respeito, que incluem dados pessoais
            e histórico de apostas, com a entidade reguladora, organismos desportivos e outros organismos,
            incluindo a polícia, a fim de investigar questões relacionadas com fraude, branqueamento de capitais
            ou de integridade do desporto, e de cumprir os nossos deveres de regulamentação.</p>



    </div>
    <div *ngIf="this.langModel.lang == 'en'" class="inner-game-wrap">
        <p>By using our platform, the user agrees and accepts our terms and conditions of use as well as the privacy
            policy.</p>
        <h2>TERMS OF USE</h2>
        <p>For the proper use of our platform, it is mandatory for the user to comply with the following:</p>
        <ul>
            <li> 18 or over 18 years of age.</li>
            <li> Not acting on behalf of others.</li>
            <li> Provide true and current data in your registration, and update whenever necessary</li>
            <li> Not having any restrictions on the use of related services.</li>
            <li> Reside at a valid and localizable address.</li>
            <li> Do not present international bank details.</li>
            <li> You are not selected to receive new account offers if you are already our customer.</li>
            <li> You have not banned yourself, and you have not been banned by any third party, from playing games
                of chance.</li>
            <li> When opening your account, you will be asked to provide personal details, which include your name
                and date of birth as well as contact information and your email address.
                </li>
            <li> It is not our responsibility to refund you if you lose a game or bet due to your connection failure, such
                as unexpectedly turning off your device or losing your internet connection.</li>
            <li> We strongly discourage contact with community members outside of our service and assume no
                responsibility for any results should you choose to do so.
                </li>
            <li>Duplicate and multiple accounts are not allowed; you can use the forgotten password option if you
                don't remember your login details.</li>
            <li> Please respect our employees' privacy by not trying to add them to your professional or social
                networks. Staff are not allowed to share any personal information such as email addresses or phone
                numbers with you.</li>
            <li> Mô Jogos reserves the right to change the terms and conditions by publishing these changes in this
                section. Your continued use of the site following the changes constitutes your acceptance of the new
                terms and conditions.</li>
        </ul>

        <p> It is your responsibility to ensure that your Account with us contains correct personal/financial
            information. By sending us the payment details, you guarantee that you have the right to carry out the
            transaction in question or to place the bet in question with the payment details provided. If we do not
            receive authorization for payment or if payment is not valid, it cannot be processed otherwise or if any
            authorization is subsequently withdrawn, we may refuse your transaction or bet and/or immediately
            cancel or suspend your Account.            
        </p>
        <p>You may only open one Account with us, which you may use for the purposes of the Services. We
            reserve the right to close any Duplicate Accounts and to cancel any bets or transactions on Duplicate
            Accounts. We also reserve the right to suspend or close any Account and cancel any bet or associated
            transaction where the Account holder and the owner of the funding instrument are not the same.
        </p>
        <h2>ACCOUNT SECURITY</h2>
        <p>If you choose, or have a password, or any other item of information as part of our security procedures,
            you must treat that information as confidential and you may not disclose it to any third parties.</p>
        <p>It is your responsibility to maintain the confidentiality of your password and you are fully responsible for
            all activities carried out under your username and password. Any username and password that you
            choose or provide to access the Services shall be for your personal use only and is not transferable. We
            recommend that you disable any automatic password memory in your browser before using the Site.
            This will help to reduce the risk of unauthorized use of your Account.</p>

        <p>Agree to:</p>
        <ul>
            <li>Notify us immediately of any unauthorized use of your username and/or password, or any other
                breach of security.</li>
            <li>Make sure you log out of your Account at the end of each session. We cannot and will not be liable for
                any loss or damage resulting from your failure to comply with the requirements of this clause.</li>
        </ul>

        <p>If you do not remember or have lost your password or account details, please contact us immediately,
            to recover your account, or suspend if necessary. We have the right to disable, suspend or restrict your
            username or password, whether chosen by you or assigned by us, at any time in our sole discretion,
            including if, in our opinion, you have not complied with any of the provisions of this Agreement.
        </p>

        <p>Can not:</p>

        <ul>
            <li>Entering, selecting, or using a false name, address or Account data or an email address owned or
                controlled by another person with the intention of impersonating that person, or using a name or such
                data without proper authorization.
            </li>
            <li>We do not accept any liability resulting from any unauthorized use of our Site and/or Services that is
                fraudulent or otherwise. We reserve the right, in our sole discretion, to refuse registration, suspend or
                cancel a username without notice.
            </li>
        </ul>

        <h2>RISK</h2>
        <p>You agree and confirm that you are fully aware that there is a risk of losing money in gambling games
            through the Site and/or Services and that you are entirely responsible for any loss.
        </p>
        <h2>YOUR PERSONAL DATA</h2>

        <p>We treat information about you in accordance with our Privacy and Cookies Policy.</p>
        <p>We have the right to share the information we hold about you, which includes personal data and betting
            history, with the regulatory authority, sporting bodies and other bodies, including the police, in order to
            investigate matters relating to fraud, money laundering or integrity of sport, and to fulfill our regulatory
            duties.</p>



    </div>
</div>