.game-wrap{
    background-image: url(../../../assets/img/Stretchable_BG.png);
}
.login-header{
    background: url(../../../assets/img/Login/Header_Stretchable.png) 0/100% 100% no-repeat;
    height: 20vh;
    width: 100%;
    position: relative;
    text-align: center;
    max-height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-header h2{
    font-weight: 600;
    font-size: 45px;
    color: #fff;
    margin: -10px 0 0;
}
.login-form{
    max-width: 100%;
    width: 500px;
    margin: 2em auto 0;
}
.login-form .form-group {
    margin-bottom: 2rem;
}
.login-form label {
    display: inline-block;
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}
.login-form .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    color: #041966;
    border: none;
    background: url(../../../assets/img/Login/Inputbox.png) 0/100% 100% no-repeat;
}
.login-form .form-control:focus-visible {
    outline: none;
}
.frgt-pswd{
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem
}
.frgt-pswd a{
    font-size: 24px;
    font-weight: 600;
    color: #87dfff;
    text-decoration: underline;
}
.submit{
    background: url(../../../assets/img/Login/Button_Yellow.png) 0/100% 100% no-repeat;
    width: 100%;
    padding: 0.375rem 0.75rem;
    line-height: 2;
    font-size: 20px;
    color: #041966;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.error{
    color: red;
}
@media screen and (max-width: 767px){
    .login-header{
        max-height: 100px;
    }
    .login-header h2{
        font-size: 20px;
    }
    .inner-game-wrap{
        padding: 0 20px;
    }
    .login-form label,.login-form .form-control,.frgt-pswd a{
        font-size: 18px;
    }
    .submit{
        font-size: 16px;
    }
}