.game-wrap {
    max-width: initial;
}
.menu-screen{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.logo{
    max-height: 30%;
    max-width: 100%;
}
#particles-js{
    position: absolute;
    width: 100%;
    height: 100%;
  }
.user-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 0 0;
    height: 13%;
}
.user-name{
    position: relative;
    width: 40%;
    z-index:4;
}
.user-coin{
    position: relative;
    width: 50%;
    z-index:4;
}
.user-name img{
    position: absolute;
    left: -4px;
    width: 60px;
    height: auto;
    max-height: initial;
    top: 50%;
    transform: translateY(-50%);
}
.user-name div,.user-coin > div{
    background: url(../../assets/img/menuScreen/textbox.png) 0/100% 100% no-repeat;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    width: 100%;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.user-name div{
    
    padding: 7px 5px 8px 60px;

}
.user-coin > div{
    padding: 7px 45px 8px 5px;
}
.user-coin > div > img,.user-coin > div > span{
    vertical-align: middle;
}
.user-coin > div > img{
    margin-right: 5px;
}
.user-coin > img{
    position: absolute;
    height: 100%;
    right: -4px;
    width: auto;
    top: 50%;
    transform: translateY(-50%);
}
.menu-game{
    display: flex;
    margin: 0 -15px;
    height: 20%;
}
.menu-game > div{
    padding: 0 15px;
    text-align: center;
    width: 50%;
    z-index:4;
}
.back-NewBtn.back-btn {
    position: absolute;
    top: 5px;
    transform: none;
    left: 1px;
    z-index: 4;
    width: 37px;
}
.menu-buttons {
    display: flex;
    margin: 0 -10px;
    padding-bottom: 5%;
    width: 100%;
    height: 20%;
}

.menu-buttons > div {
    padding: 0 10px;
    text-align: center;
    width: 33.33%;
    height: 100%;
    z-index:4;
}

.menu-buttons > div > a > img {
    max-height: 60%;
}
.menu-buttons > div > a > span {
    color: #fff;
    font-weight: 500;
     font-size: 18px; 
    display: inline-block;
    margin-top: 5px;
}

.menu-buttons > div > a {
    text-decoration: none;
}
@media screen and (max-width: 767px){
     .menu-buttons > div > a > span{
        font-size: 16px;
    }
    .user-name div, .coinstxt{
        font-size: 13px;  
    }
    .user-name img{
        width: 50px;
    }
    .inner-game-wrap{
        padding: 0 25px;
    }
}