
input[type='radio']{
    /* content: url(../../assets/img/landingScreen/Radio_Inactive.png); */
    width: 20px;
    height: 20px;
    border-radius: 20px;
    vertical-align: middle;
    margin-top: 0; 
}

input[type='radio']:after {
    
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: -2px;
    left: -1px;
    position: relative;
    /* background-color: #0060de;  */
    content: '';
    background: url(../../../assets/img/Settings/radio_off.png) 0/100% 100% no-repeat;
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.validationTxt{
    color: red;;
}

input[type='radio']:checked:after {
    
    content: "";
    /* color: #fec700; */
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: -2px;
    left: -1px;
    position: relative;
    /* background-color: #fec700; */
    font-family: 'FontAwesome';
    background: url(../../../assets/img/Settings/radio_on.png) 0/100% 100% no-repeat;
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
.eng-lang{
    position: relative;
    margin-left: 5px;
    top: 2px;
}
.agree-select{
    max-width: 417px;
    width: 100%;
    color: #fff;
    padding: 10px 5px 0;
}
.termsCheckbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
  }
  .termsCheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    cursor: pointer;
  }
  
  .termsCheckbox .checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: 2px solid #fff;
  }
  .termsCheckbox:hover input ~ .checkmark {
    background-color: #02398a;
  }
  
  .termsCheckbox input:checked ~ .checkmark {
    background-color: #02398a;
  }
  
  .termsCheckbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .termsCheckbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  .termsCheckbox .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
/* only demo styles */

  
  /* end only demo styles */
.game-wrap{
    background-image: url(../../../assets/img/Stretchable_BG.png);
}
/* .lang-select label{
    margin-left: 5px;
    vertical-align: middle;
} */
.slct-div{
    width: 145px;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
}
.slct-div img{
    position: absolute;
    top: 48%;
    transform: translateY(-52%);
    right: 10px;
    width: 12px;
}
.phn-login {
    display: flex;
}
.phn-login select.form-control {
    appearance: none;
    padding-right: 30px;
    cursor: pointer;
}
.login-header{
    background: url(../../../assets/img/Login/Header_Stretchable.png) 0/100% 100% no-repeat;
    height: 20vh;
    width: 100%;
    position: relative;
    text-align: center;
    max-height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-header h2{
    font-weight: 600;
    font-size: 45px;
    color: #fff;
    margin: -10px 0 0;
}
.back-btn{
    position: absolute;
    left: 5%;
    top: 46%;
    transform: translateY(-50%);
    width: 50px;
}
.login-form{
    max-width: 100%;
    width: 500px;
    margin: 2em auto 0;
}
.login-form .form-group {
    margin-bottom: 2rem;
}
.login-form label {
    display: inline-block;
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}
.login-form .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    color: #041966;
    border: none;
    background: url(../../../assets/img/Login/Inputbox.png) 0/100% 100% no-repeat;
}
.login-form .form-control:focus-visible {
    outline: none;
}
.frgt-pswd{
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem
}
.frgt-pswd a{
    font-size: 24px;
    font-weight: 600;
    color: #87dfff;
    text-decoration: underline;
}
.submit{
    background: url(../../../assets/img/Login/Button_Yellow.png) 0/100% 100% no-repeat;
    width: 100%;
    padding: 0.375rem 0.75rem;
    line-height: 2;
    font-size: 20px;
    color: #041966;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-top: 2em;
}
/* .lang-select{
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    width: 80%;
    margin: 2em auto 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
} */
.lang-select{
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    padding: 0.6em 1em 0.6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.eng-lang span,.eng-lang img,
.oth-lang span,.oth-lang img{
    vertical-align: middle;
}
.eng-lang span,.oth-lang span{
    margin-left: 5%;
}
.eng-lang,.oth-lang{
    white-space: nowrap;
} 
 /* .radio-custom {
    opacity: 0;
    position: absolute;   
}
.radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}
.radio-custom:focus-visible, .radio-custom-label:focus-visible,
.eng-lang:focus-visible,.oth-lang:focus-visible,
.eng-lang input:focus,.oth-lang input:focus{
    outline: none;
}
.radio-custom-label {
    position: relative;
}
.radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
    background: url(../../assets/img/Settings/radio_off.png) 0/100% 100% no-repeat;
    margin-top: -6px;
    box-sizing: border-box;
}
.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    content: "";
    font-family: 'FontAwesome';
    background: url(../../assets/img/Settings/radio_on.png) 0/100% 100% no-repeat;
} */

.eng-lang,.oth-lang{
    white-space: nowrap;
}
.eng-lang:focus-visible,.oth-lang:focus-visible,
.eng-lang input:focus,.oth-lang input:focus{
    outline: none;
}
.eng-lang span,.eng-lang img,
.eng-lang span,.oth-lang span{
    margin-left: 5%;
}
.eng-lang,.oth-lang{
    white-space: nowrap;
}
@media screen and (max-width: 767px){
    .back-btn {
        width: 40px;
    }
    .login-header{
        max-height: 100px;
    }
    .login-header h2{
        font-size: 20px;
    }
    .inner-game-wrap{
        padding: 0 20px;
    }
    .login-form label,.login-form .form-control,.frgt-pswd a{
        font-size: 18px;
    }
    .submit{
        font-size: 16px;
        margin-top: 1em;
    }
    .lang-select {
        font-size: 18px;
        padding: 1em 1em;
    }
    .eng-lang img,.oth-lang img {
        width: 35px;
    }
    .slct-div{
        width: 125px;
    }
    /* .radio-custom + .radio-custom-label:before {
        width: 25px;
        height: 25px;
        margin-top: -4px;
        margin-right: 8px;
    } */
}