<div class="game-wrap" >
    <div class="back-header">
      <a (click)="back()"
        ><img
          src="../../../assets/img/Login/Button_Back.png"
          alt="back-btn"
          class="back-btn"
      /></a>
      <h2>Forgot Password</h2>
    </div>
    <div class="inner-game-wrap">
      <div>
        <ul class="lang-select" style="list-style-type: none">
          <li class="list-group-item" *ngFor="let item of itemsList">
            <input
              type="radio"
              [(ngModel)]="radioSelected"
              name="list_name"
              value="{{ item.value }}"
              (change)="onItemChange(item)"
              class="radio-custom"
            />
            <label class="eng-lang">{{ item.name }}</label>
            
          </li>
        </ul>
      </div>
  
  
        <div *ngIf="radioSelectedEmail" class="login-form">
          <div class="form-group">
           
            <label>Please provide your registered email id </label>
            <input placeholder="Email ID" type="email" class="form-control" [(ngModel)] = "this.email" [ngModelOptions]="{standalone: true}" />
          </div>
          <span class="validationTxt"> {{this.emailerrorCode}} </span>
          <button type="submit" class="submit" (click)='validateDetails(0)'>Next</button>
        </div>
        
        <div *ngIf="radioSelectedNumber" class="login-form">
          <div class="form-group">
            <label>Please provide your registered Phone Number</label>
            <div class="phn-login">
             
              <input placeholder="Phone Number" type="number" class="form-control" [(ngModel)] = "this.phonenumber" [ngModelOptions]="{standalone: true}" />
            </div>
          </div>
          <span class="validationTxt"> {{this.phnerrorCode}} </span>
          <button type="submit" class="submit" (click)='validateDetails(1)'>Next</button>
        </div>
        
      <!-- </form> -->
    </div>
  </div>
  <app-messagepopup (isClaimed)="onClaim($event)"></app-messagepopup>
  
  
