<div class="game-wrap">
    <div class="inner-game-wrap">
        <div class="loading-screen">
            <img src="../../../assets/img/Logo.png" alt="logo" class="logo">
            <!-- <a  class="faceboo-btn social-btn">
                <img src="../../../assets/img/landingScreen/Button_FB.png">
                <img src="../../../assets/img/landingScreen/Icon_FB.png" class="social-icon">
                <span>Login with Facebook</span>
            </a> -->
            <a  class="phn-btn social-btn">
                <img src="../../../assets/img/landingScreen/Button_Phone_Login.png">
                <img src="../../../assets/img/landingScreen/Icon_Mobile.png" class="social-icon">
                <span>Login with Phone no</span>
            </a>
            <a  class="email-btn social-btn">
                <img src="../../../assets/img/landingScreen/Button_Email_Login.png">
                <img src="../../../assets/img/landingScreen/Icon_Mail.png" class="social-icon">
                <span>Login with Email</span>
            </a>
            <a  class="acc-btn social-btn">
                <img src="../../../assets/img/landingScreen/Button_Create_Account.png">
                <img src="../../../assets/img/landingScreen/Icon_CreateAccount.png" class="social-icon">
                <span>Create Account</span>
            </a>
            <div class="lang-select">
                <div class="eng-lang">
                    <input id="radio-1" class="radio-custom" name="radio-group" type="radio" checked>
                    <label for="radio-1" class="radio-custom-label">English</label>
                </div>
                <div class="oth-lang">
                    <input id="radio-2" class="radio-custom"name="radio-group" type="radio">
                    <label for="radio-2" class="radio-custom-label">Other</label>
                </div>
            </div>
        </div>
    </div>
</div>