.popup-wrap {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.settings-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #c41616;
    width: 385px;
    border: 4px solid #fffc00;
    border-radius: 25px;
    max-width: 95%;
}

.settings-header {
    background: url(../../assets/img1/Settings/popup_header.png) 0/100% 100% no-repeat;
    text-align: center;
    font-size: 30px;
    padding: 19px 0;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    font-weight: 800;
    color: #9a0e0e;
}

.close-btn {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 50px;
    cursor: pointer;
}

.music,
.sound {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 24px;
    margin: 44px 0;
    align-items: center;
    font-weight: 600;
    padding: 0 30px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 40px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    transition: .4s;
    border-radius: 5px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 38px;
    width: 40px;
    left: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    top: 55%;
    transform: translateY(-55%);
    background: url(../../assets/img1/Settings/Off.png) 0/100% 100% no-repeat;
}

.switch input:checked+.slider:before {
    transform: translate(67px, -55%);
    background: url(../../assets/img1/Settings/on.png) 0/100% 100% no-repeat;
}

@media screen and (max-width: 767px) {
    .settings-header {
        font-size: 22px;
        padding: 15px 0;
    }

    .music,
    .sound {
        font-size: 18px;
        margin: 30px 0;
    }

    .switch {
        width: 75px;
        height: 30px;
    }

    .slider:before {
        height: 28px;
        width: 30px;
    }

    .switch input:checked+.slider:before {
        transform: translate(42px, -55%);
    }

    .close-btn {
        top: -10px;
        right: -10px;
        width: 40px;
    }
}