<div class="game-wrap" >
    <div class="inner-game-wrap">
        <div class="loading-screen">
            <img src="../../assets/img/Logo.png" alt="logo" class="logo">
            <!-- <div class="loading"> -->
                <div class="first">
                    <div class="second" id="scoreList"></div>
                <!-- <img src="../../assets/img/Loading/Loader_BG.png" alt="Loader_BG">  -->
              <!-- <div class="progress" [ngStyle]="{'width.vw':width}"></div> -->
              <!-- <progress-bar [progress]="widthCount" [color-degraded]="{'0':'#FFBF00'}" id="scoreList"></progress-bar> -->
            </div>
            <div class="loading-num">Loading: {{this.width}} %</div>
        </div>
    </div>
</div>
